{% extends "admin/base_site.html" %}
{% block extrahead %}
    {{ block.super }}
    
{% endblock %}
{% block content %}
<h2>Source URL Tracking Report</h2>
<h3>overall_clicks - {{overall_clicks}}</h3>
<table>
<thead>
    <tr>
        <th>Course_id</th>
        <th>source_name</th>
        <th>Overall Clicks </th>
        <th>Enrollment Clicks</th>
        <th>Pending Clicks</th>
    </tr>
    </thead>
    <tbody>
        {%for sourcedata in overall_source_data %}
            <tr>
                <td>{{sourcedata.course_id}}</td>
                <td>{{sourcedata.source_name}}</td>
                <td>{{sourcedata.count_clicked}}</td>
                <td>{{sourcedata.count_enrolled}}</td>
                <td>{{sourcedata.count_pending}}</td>
            </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}